/* section title */
.section-title {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
    margin-top: 3rem;
  }
  
  .span-heading{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 6px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-title h3 span {
    color: #106eea;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
  }