.app{
    position: relative;
}
.chat-img{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.chat-img img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 /1;
}