.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 4%;
    min-height: 100vh;
  }
  
  .reset-password h1 {
    font-size: 2rem;
    color: #1976d2;
    margin-bottom: 1rem;
  }
  
  .reset-password p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
    max-width: 400px;
  }
  
  .resetPassword-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  .resetPassword-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    flex: 1;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .resetPassword-form .input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1.5rem;
  }
  
  .resetPassword-form .input-group label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #1976d2;
  }
  
  .resetPassword-form .input-group input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .resetPassword-form .input-group input:focus {
    border-color: #1976d2;
  }
  
  .resetPassword-form a  {
    display: inline-block;
    margin-top: 1rem;
    color: #1976d2;
    cursor: pointer;
    text-align: center;
  }
  
  .resetPassword-form a:hover {
    color: #333;
    text-decoration: underline;
  }
 .resetPassword-form .password-toggle svg{
    position: absolute;
    right: 20px;
    top: 15px;
    transform: translateY(-50%);
  }